In [1]:
from sdm.config import get_db_connection
import pandas as pd

## Get data from postgres

In [4]:
with get_db_connection(db_type="postgres") as db:
    with db.cursor() as cur:
        res = cur.execute("""
        SELECT body, LENGTH(body) AS length
        FROM comments
        ORDER BY LENGTH(body) DESC
        LIMIT 5;
        """)
        df = pd.DataFrame(res.fetchall())
df.head()

                                                body  length
0  Non et c'est physiquement impossible en plus d...    8642
1  C'est exactement comme ça que j'avait compris ...    5578
2  CUE NEXT ICE AGE \ngeocraft [A Brief History o...    4025
3  Late to the party and not OP obviously, but ho...    3956
4  There's no way to "verify" a prediction based ...    3890

In [5]:
with get_db_connection(db_type="postgres") as db:
    with db.cursor() as cur:
        res = cur.execute("""
        SELECT text, LENGTH(text) AS length
        FROM submissions 
        ORDER BY LENGTH(text) DESC
        LIMIT 5;
        """)
        df = pd.DataFrame(res.fetchall())
df.head()

                                                text  length
0  195 pays impliqués, 19 mois de travail, 91 aut...   23681
1  Comme expliqué lors d'un post reddit précédent...    9811
2  Cop 21 Agreement PDF **warning** - http://unfc...    7718
3  Back in November 2015, world leaders flew on t...    7137
4  Hi everyone! We’re four climate and energy exp...    3773