In [28]:
import igraph as ig
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import ast
from src.utils import tweets_as_dataframe

In [ ]:
raw_data = tweets_as_dataframe("../../../data/tweets.dat")

In [67]:
raw_data.head()

,entities,text,possibly_sensitive,edit_history_tweet_ids,lang,created_at,referenced_tweets,author_id,context_annotations,conversation_id,id,public_metrics,attachments,in_reply_to_user_id,geo,withheld
0,"{'mentions': [{'start': 3, 'end': 15, 'usernam...",RT @MinisterTdB: Climate change won’t stop ove...,False,[675827469119832066],en,2015-12-12T23:59:59.000Z,"[{'type': 'retweeted', 'id': '6757779674700390...",1011975294,"[{'domain': {'id': '25', 'name': 'Events', 'de...",675827469119832066,675827469119832066,"{'retweet_count': 107, 'reply_count': 0, 'like...",NaN,NaN,NaN,NaN
1,"{'mentions': [{'start': 3, 'end': 19, 'usernam...",RT @LaurenceTubiana: I just can believe it !we...,False,[675827469006581760],en,2015-12-12T23:59:59.000Z,"[{'type': 'retweeted', 'id': '6757815547450572...",255144027,NaN,675827469006581760,675827469006581760,"{'retweet_count': 109, 'reply_count': 0, 'like...",NaN,NaN,NaN,NaN
2,"{'mentions': [{'start': 3, 'end': 11, 'usernam...",RT @COP21en: We did it! #ParisAgreement is ado...,False,[675827468775718912],en,2015-12-12T23:59:59.000Z,"[{'type': 'retweeted', 'id': '6757487202442977...",214748274,NaN,675827468775718912,675827468775718912,"{'retweet_count': 1204, 'reply_count': 0, 'lik...",{'media_keys': ['3_675748710089940992']},NaN,NaN,NaN
3,"{'mentions': [{'start': 3, 'end': 18, 'usernam...",RT @TheGlobalGoals: Incredible news for our wo...,False,[675827465378504705],en,2015-12-12T23:59:58.000Z,"[{'type': 'retweeted', 'id': '6757646325990440...",449273927,NaN,675827465378504705,675827465378504705,"{'retweet_count': 110, 'reply_count': 0, 'like...",NaN,NaN,NaN,NaN
4,"{'mentions': [{'start': 3, 'end': 15, 'usernam...",RT @StopShenhua: “The people’s resolve is such...,False,[675827465336434688],en,2015-12-12T23:59:58.000Z,"[{'type': 'retweeted', 'id': '6757735596884541...",1601937732,NaN,675827465336434688,675827465336434688,"{'retweet_count': 49, 'reply_count': 0, 'like_...",NaN,NaN,NaN,NaN

In [58]:
def parse_referenced_tweets_to_dataframe(row: pd.Series):
    action = row["referenced_tweets"]
    if isinstance(action, float):
        return None
    try:
        if isinstance(action, list) and action:
            nested_df = pd.DataFrame(action)
            return nested_df
    except (ValueError, SyntaxError):
        print(f"Warning: Failed to parse {row}")
        return None
temp = raw_data.copy()
temp["referenced_tweets"] = temp.apply(parse_referenced_tweets_to_dataframe, axis=1)

In [26]:
graph = ig.Graph()
raw_data.loc[5]["referenced_tweets"]
# raw_data[raw_data["id"] == "675768250114940928"]

[{'type': 'retweeted', 'id': '675805684034859010'}]